
.yarn/
.idea/
.vagrant/
bin/**/*
target/
node_modules/

**/*.exe
*.lnk
*.log
*.tar
*.tar.gz

!packages/reactenv/bin/reactenv
packages/reactenv-darwin-arm64/reactenv
packages/reactenv-darwin-x64/reactenv
packages/reactenv-linux-arm64/reactenv
packages/reactenv-linux-x64/reactenv
packages/reactenv-win32-x64/reactenv
